.navigate {
    position: sticky;
    width: 1400px;
    height: 250px;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    padding-top: 15px;
    display: none;
}

    /* Component Szie Section */
    .navigate .left {
        width: 15%;
    }

    .navigate .center {
        width: 60%;
    }

    .navigate .right {
        width: 25%;
    }
    /*-----------------------*/

    .navigate .left {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .navigate .left .icon {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: flex-end;
            gap: 5px;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
        }

        .navigate .left .logo {
            width: 100%;
            height: 80%;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 20px;
            box-sizing: border-box;
            overflow: hidden;
        }

            .navigate .left .logo img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }

    .navigate .center {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding-top: 0px;
        box-sizing: border-box;
    }

        .navigate .center .nav-search {
            width: 100%;
            display: flex;
            flex-direction: row;
            border: 3px solid rgba(182, 255, 0, 0.7);
            border-radius: 100px;
            box-sizing: border-box;
            gap: 10px;
            padding-right: 10px;
            overflow: hidden;
        }

            /* Search Home icon container */
            .navigate .center .nav-search a {
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
            }

            /* Search Home icon */
            .navigate .center .nav-search img {
                width: 50px;
                height: 50px;
                cursor: pointer;
            }

            .navigate .center .nav-search input {
                width: 100%;
                border: none;
                box-sizing: border-box;
                padding-left: 10px;
                padding-right: 10px;
                background-color: transparent;
                font-size: 25px;
                font-family: inherit;
                color: inherit;
            }

                .navigate .center .nav-search input::placeholder {
                    color: transparent;
                }

                .navigate .center .nav-search input:focus {
                    outline: none;
                }

                    .navigate .center .nav-search input:focus::placeholder {
                        color: rgb(128 128 128);
                        font-family: inherit;
                    }

            .navigate .center .nav-search button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: inherit;
                cursor: pointer;
            }

                .navigate .center .nav-search button i {
                    font-size: 30px;
                    color: rgb(182, 255, 0);
                }

        .navigate .center .link {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

            .navigate .center .link .rectanglebtn {
                width: 70px;
                height: 80px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                text-decoration: none;
                color: inherit;
                font-family: inherit;
                border: none !important;
                box-shadow: none !important;
            }


                .navigate .center .link .rectanglebtn .custombtn-number1 {
                    border: none;
                    box-shadow: none;
                    transform: none;
                    width: 40px;
                    object-fit: cover;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                }

                .navigate .center .link .rectanglebtn span {
                    font-size: 15px;
                    text-align: center;
                }

    .navigate .right {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .navigate .right .icon {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            box-sizing: border-box;
        }

            .navigate .right .icon .rectanglebtn {
                width: 40px;
                height: 40px;
                border: none !important;
                box-shadow: none !important;
            }

            .navigate .right .icon .radiusbtn {
                width: 40px;
                border: none !important;
                box-shadow: none !important;
                object-fit: cover;
            }

            .navigate .right .icon .mobileicon {
                display: none;
                padding-top: 6px;
            }

                .navigate .right .icon .mobileicon .rectanglebtn {
                    width: 40px;
                    height: 40px;
                    border: none !important;
                    box-shadow: none !important;
                }

                .navigate .right .icon .mobileicon .radiusbtn {
                    width: 40px;
                    border: none !important;
                    box-shadow: none !important;
                    object-fit: cover;
                }


        .navigate .right .mini-dashborad {
            width: 100%;
            height: 80%;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
            border-radius: 10px;
            padding: 15px;
            box-sizing: border-box;
            overflow: hidden;
            box-sizing: border-box;
        }
