header {
    position: fixed;
    /* position: sticky; 스티키 사용시 oveflow현상 발생
       sticky + overflow-hidden 사용하면 내부 Modal 생성 안됨.
    */
    margin: 0 auto;
    height: clamp(60px, calc(20px + 5vw), 80px);
    width: 100%;
    max-width: 1500px;
    top: 0px;
    display: flex;
    background-color: #33677a;
    z-index: 1000;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
}

header {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    /*  border: 3px solid #462bf7; /* */
    box-sizing: border-box;
}

.Header_PC_Logo {
    font-size: 40px;
    font-family: "Oxanium", sans-serif;
    cursor: pointer;
    font-weight: bold;
    /*   border: 3px solid #462bf7; /* */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .Header_PC_Logo a {
        text-decoration: none;
        color: white;
    }

.Header_PC_Html {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: clamp(15px, calc(49.89vw - 496.89px), 250px);
    justify-content: center;
    align-items: center;
    /*  border: 3px solid #462bf7; /* */
    box-sizing: border-box;
}


.Header_PC_html_Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: row;
    gap: 15px;
    /*  border: 3px solid #462bf7; /* */
}

    .Header_PC_html_Menu a {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 25px;
        font-family: 'Montserrat';
        text-decoration: none;
    }

.Header_PC_html_Modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-direction: row;
    gap: 10px;
    /*   border: 3px solid #462bf7; /* */
}

    .Header_PC_html_Modal button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 50px;
        background-color: #f0f0f0;
        color: #757be6;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Montserrat';
        font-weight: bold;
        text-decoration: none;
    }

    .Header_PC_html_Modal .signup {
        background-color: #757be6;
        color: white;
    }



/* Mobil 용 */

.Header_Mobile_Html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid #462bf7; /* */
    box-sizing: border-box;
}

.Header_Mobile_Logo {
    height: 100%;
    font-size: clamp(25px, calc(15px + 2vw), 40px); /* 지정된 너비 안에서 자유롭게 움직이는 함수 clamp */
    font-family: "Oxanium", sans-serif;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    /*   border: 3px solid #462bf7; /* */
    box-sizing: border-box;
}

/* 안드로이드 클릭 시 파란 바탕 제거 */
.Header_Mobile_Logo {
    -webkit-tap-highlight-color: transparent; /* iOS 및 일부 Android 기본 강조 효과 */
    outline: none;
    user-select: none;
}

    .Header_Mobile_Logo :active {
        border: none;
        background-color: transparent;
    }

.Header_Mobile_Html_Menu {
    padding-right: 5px;
    height: 100%;
    /*  border: 3px solid #462bf7; /* */
    box-sizing: border-box;
}


.Header_Mobile_Html_Menu_Hambuger {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1px;
}

.Header_Mobile_Html_Menu_Hambuger {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
}

    .Header_Mobile_Html_Menu_Hambuger,
    .Header_Mobile_Html_Menu_Hambuger span {
        transition: all .4s;
        box-sizing: border-box;
    }

        .Header_Mobile_Html_Menu_Hambuger span {
            width: clamp(50px, calc(20px + 5vw), 80px);
            height: calc(100% / 12);
            background-color: #fff;
            border-radius: 4px;
        }

        .Header_Mobile_Html_Menu_Hambuger.active-1 {
            gap: 0;
        }

            .Header_Mobile_Html_Menu_Hambuger.active-1 span:nth-of-type(1) {
                transform: translateY(100%) rotate(-45deg);
            }

            .Header_Mobile_Html_Menu_Hambuger.active-1 span:nth-of-type(2) {
                opacity: 0;
            }

            .Header_Mobile_Html_Menu_Hambuger.active-1 span:nth-of-type(3) {
                transform: translateY(-100%) rotate(45deg);
            }

.Header_Mobile_Menu_Content_Active {
    position: fixed;
    top: clamp(60px, calc(20px + 5vw), 80px); /* 헤더 높이 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  border: 3px solid #462bf7; /* */
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-top-left-radius: 15px;
}


.Header_Mobile_Menu_Content {
    width: 100vw;
    height: 0;
    opacity: 0;
    transform: translateY(clamp(-60px, calc(-20px - 5vw), - 80px));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    overflow: hidden;
    transition: height 0.15s ease-in-out, opacity 0.4s ease-in-out 0.3s, transform 0.4s ease-in-out 0.3s;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

    .Header_Mobile_Menu_Content.active-1 {
        height: 90vh;
        opacity: 1;
        transform: translateY(0%);
        transition: height 0.15s ease-in-out 0.15s, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    }

.Header_Mobile_Logo a {
    text-decoration: none;
    color: white;
}

.Spacer {
    width: 100%;
    height: 100px;
    /*   border: 3px solid #462bf7; /* */
    box-sizing: border-box;
}

.Header_Mobile_Menu_Content a {
    text-decoration: none;
    width: 100%;
    height: clamp(50px, 15vmin, 80px);
    color: rgba(0, 0, 0, 0.6);
    font-size: clamp(15px, 8vmin, 40px);
    font-family: 'Malgun Gothic';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  border: 3px solid #462bf7; /* */
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9)
}

.Header_Mobile_Menu_Content button {
    text-decoration: none;
    width: 100%;
    height: clamp(50px, 15vmin, 80px);
    color: rgba(0, 0, 0, 0.6);
    font-size: clamp(15px, 8vmin, 40px);
    font-family: 'Malgun Gothic';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  border: 3px solid #462bf7; /* */
    border: none;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9)
}

@media (min-width: 1025px) {
    .Header_Mobile_Html {
        display: none;
    }
}

@media (max-width: 1024px) {
    .Header_PC_Html {
        display: none;
    }
}
