.Home_Body_Menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border: 5px solid #9ee6d1;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(4px);
    /* border: 5px solid #462bf7; /* */
    box-sizing: border-box;
}

    .Home_Body_Menu img {
        width: 50%;
        object-fit: contain;
    }

.Home_Body_Menu_Content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 5px solid rgba(255,255,255,0); /* */
    box-sizing: border-box;
}

    .Home_Body_Menu_Content h1 {
        font-size: clamp(20px,calc(3vw),35px);
        font-weight: bold;
        color: rgba(255,255,255,1);
        margin: 10px;
    }

    .Home_Body_Menu_Content p {
        font-size: clamp(15px,calc(3vw),18px);
        font-weight: bold;
        color: rgba(255,255,255,1);
        margin: 10px;
    }

    .Home_Body_Menu_Content button {
        width: 180px;
        aspect-ratio: 3/1;
        padding: 8px 12px;
        border: none;
        border-radius: 15px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        color: #889994;
        background-color: #757be6;
        color: white;
        transition: transform 0.3s ease;
        margin: 10px;
    }

        .Home_Body_Menu_Content button:hover {
            transform: scale(1.1);
        }


.Home_Body_Main_PC {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* border: 5px solid #462bf7; /* */
    padding: 80px;
    box-sizing: border-box;
}

.Home_Body_Main_Mobile {
    display: none;
}


@media (max-width : 1024px) {
    .Home_Body_Main_PC {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width : 768px) {

    .Home_Body_Main_PC {
        display: none;
    }


    .Home_Body_Main_Mobile {
        display: block;
    }

    .Home_Body_Main {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        /* border: 5px solid #462bf7; /* */
        box-sizing: border-box;
    }

    .Home_Body_Menu {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }


    .Home_Body_Menu_Content {
        flex-direction: column;
        gap: 1px;
        align-items: center;
        background-color: transparent;
        border: none;
        /* border: 5px solid #462bf7; /* */
        box-sizing: border-box;
    }

        .Home_Body_Menu_Content button {
            width: 120px;
            aspect-ratio: 3/1;
        }

    .swiper {
        width: 100%;
        height: 100%;
        /*  border: 5px solid rgb(255, 0, 0); /* */
        box-sizing: border-box;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        /*  border: 5px solid #9ee6d1; /* */
        box-sizing: border-box;
    }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: transparent;
            /* border: 5px solid #462bf7; /* */
            box-sizing: border-box;
        }
}
