.navigate {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 5px;
    padding-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

    .navigate .left {
        order: 1;
        width: auto;
        height: auto;
        justify-content: center;
        margin: 0;
    }

    .navigate .center {
        order: 3;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }

    .navigate .right {
        order: 2;
        width: auto;
        height: auto;
        justify-content: center;
        margin: 0;
    }

    .navigate .sidemenu {
        order: 4;
        width: 100%;
        height: auto;
        justify-content: center;
        margin: 0;
    }

    .navigate .left .logo,
    .navigate .right .mini-dashborad {
        display: none;
    }

    .navigate .center .link {
        gap: 5px;
    }

    .navigate .right .icon .mobileicon {
        display: block;
    }
