.navigate.mobile {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 5px;
    padding-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

    .navigate.mobile .left {
        order: 1;
        width: auto;
        height: auto;
        justify-content: center;
        margin: 0;
    }

    .navigate.mobile .center {
        order: 3;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }

    .navigate.mobile .right {
        order: 2;
        width: auto;
        height: auto;
        justify-content: center;
        margin: 0;
    }

        .navigate.mobile .left .logo,
        .navigate.mobile .right .mini-dashborad {
            display: none;
        }

    .navigate.mobile .center .link {
        gap: 5px;
    }

    .navigate.mobile .right .icon .mobileicon {
        display: block;
    }
