.FrameCommon {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* */
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.8); /* */
    box-sizing: border-box;
}

.FrameCommon_item {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 10px;
    padding: 20px;
    /* border: 1px solid rgba(255,255,255,0.8); /* */
    box-sizing: border-box;
}

.FrameCommon_Canvasimage {
    width: 50%;
    height: 100%;
    /* border: 1px solid rgba(255,255,255,0.8); /* */
    box-sizing: border-box;
}

.FrameCommon_Descriptionimage {
    width: 50%;
    height: 100%;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    text-align: center;
    /* border: 1px solid rgba(255,255,255,0.8); /* */
    box-sizing: border-box;
}

.FrameCommon_Caculation_And_Step {
    width: 100%;
    height: 50%;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    text-align: center;
    /* border: 1px solid rgba(255,255,255,0.8); /* */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .FrameCommon_item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 0px;
    }

    .FrameCommon_Canvasimage {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(255,255,255,0.8); /* */
        box-sizing: border-box;
    }
}
