body {
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* 수평 중앙 정렬 */
    max-width: 1500px;
    min-height: 100vh;
    background: rgba(0,0,0,0.9);
    /*   border: 5px solid #462bf7; /* */
    box-sizing: border-box;
    padding-top: 50px;
    -webkit-tap-highlight-color: transparent; /* iOS 및 일부 Android 기본 강조 효과 */
    outline: none;
    user-select: none;
}

.Main_Body {
    flex: 1;
    box-sizing: border-box;
}

.Main_Footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    /*   border: 5px solid #462bf7; /* */
    box-sizing: border-box;
}

    .Main_Footer p {
        font-family: Arial;
        font-size: clamp(10px, 7px + 1vw, 25px);
    }
