body {
    margin: 0 auto; /* 수평 중앙 정렬 */
    max-width: 1500px;
    min-height: 100vh;
    background: linear-gradient(100deg, rgba(31, 28, 44, 1), rgba(0, 242, 254, 0.7));
    /*   border: 5px solid #462bf7; /* */
    padding-top: 50px;
    -webkit-tap-highlight-color: transparent; /* iOS 및 일부 Android 기본 강조 효과 */
    outline: none;
    user-select: none;
}
